<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Micro Posts:</strong><br>
  <% @user.microposts.each do |post| %>
  <%= post.content%>
    <br />

<p>
      Created at: <%= post.created_at.to_formatted_s(:short) %>
</br> Updated at: <%= post.updated_at.to_formatted_s(:short)%>
</p>
<hr>
  <% end %>

</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
